* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* color  / */
  --white: white;
  --black: #001d49;
  --bs-black: #000A1A;

  /* / font size  / */
  --fs-sm: 16px;
  --fs-1sm: 18px;
  --fs-2sm: 20px;
  --fs-md: 22px;
  --fs-1md: 25px;
  --fs-lg: 30px;
  --fs-xl: 50px;
  --fs-xxl: 70px;
  /*    */
  --ff-p: 'Poppins', sans-serif;
  --ff-m: 'Montserrat', sans-serif;
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-1sm {
  font-size: var(--fs-1sm);
}

.fs-2sm {
  font-size: var(--fs-2sm);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-1md {
  font-size: var(--fs-1md);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

.white {
  color: var(--white);
}

.ff-p {
  font-family: var(--ff-p);
}

.ff-m {
  font-family: var(--ff-m);
}

.w-100 {
  width: 100%;

}

.min-vh-100 {
  min-height: 100vh;
}
ul{
  padding-left: unset !important;
}

.mxw-515 {
  max-width: 515px;
}
.mxw-663{
  max-width: 663px;
}

.mxw-488 {
  max-width: 488px;
}
.mxw-404{
  max-width: 404px;
}
.mxw-347{
  max-width: 347px;
}

.align-items-center {
  align-items: center;
}


.justify-center {
  justify-content: center;
}

.bg-img {
  background-image: url(../public/bakground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.logo {
  color: #FFF;
  font-family: var(--ff-p);
  font-size: var(--fs-22);
  font-style: normal;
  font-weight: 600;
}

.bg-blue {
  background: #000A1A;
}

.gradiant {
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 10, 26, 0.00) 0%, #000A1A 100%);
  width: 1920px;
  height: 230px;
  flex-shrink: 0;
}

.li-font {
  color: #FFF;
  font-family: var(--ff-p);
  font-size: var(--fs-18);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: all 300ms linear;
}

.li-font:hover {
  color: orange;
}

.pt-30 {
  padding-top: 30px;
}

.btn-main {
  padding: 16px 41px 15px 40px;
  border-radius: 45.5px;
  cursor: pointer;
  border: none;
  transition: all 500ms linear;
  margin-bottom: 15rem !important;
}

.btn-main:hover {
  color: #62E04B;

}

.btn1 {
  padding: 10px 20px 10px 20px;
  border-radius: 45.5px;
  background: #FFF;
  cursor: pointer;
  border: none;
}



.mt-261 {
  margin-top: 100px;
}
.card3 {
  border-radius: 20px !important;
  background: #031227 !important;
  height: 511px !important;
  max-width: 426px !important;
}

.ART {
  color: #FFF;
  font-family: var(--ff-p);
  font-size: var(--fs-lg);
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Complete-the-art {
  color: #FFF;
  font-family: var(--ff-p);
  font-size: var(--fs-sm);
  font-weight: 400;
  opacity: 0.7;

}

.card-body {
  padding: 40px 13px;
}
.svg1{
  transition: .9s;
}
.svg1:hover{
 transform: translateY(-20px);
}
.mxw-320{
  max-width: 320px !important;
}
.vertical-line {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
}

.vertical-line::after {
  content: '';
  position: absolute;
  border-right: 2px dashed #FFFFFF;
  top: 7%;
  bottom: 27%;
  left: 50%;
  margin-left: -3px;
}

.line-container {
  position: relative;
  background-color: inherit;
  width: 50%;
}

.line-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  top: 38px;
  border-radius: 50%;
  z-index: 1;
  background: linear-gradient(0deg, #009DFF, #009DFF),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);

}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -15px;
}

.bg-blue {
  background: #000A1A;
}

.Roadmap {
  color: var(--white);
  font-family: var(--ff-p);
  font-size: var(--fs-xl);
  font-weight: var(--fw-600);
}

.content2 {
  padding: 40px;
}

.Q-4 {
  color: var(--white);
  font-family: var(--ff-p);
  font-size: var(--fs-lg);
  font-weight: var(--fw-600);
}

.Blandit-sed {
  color: #FFF;
  font-family:var(--ff-p);
  font-size:var(--fs-sm);
  font-style: normal;
  opacity: 0.7;
}

.pt-80 {
  padding-top: 80px;
}

.mb-0 {
  margin-bottom: 0;
}

.And-this {
  color: var(--white);
  text-align: center;
  font-family: var(--ff-p);
  font-size: var(--fs-30);
  font-weight: var(--fw-500);
}

.faq {
  color: var(--white);
  font-family: var(--ff-p);
  font-size: var(--fs-50);
  font-weight: var(--fw-600);
}

.pt-110 {
  padding-top: 110px;
  padding-bottom: 47px;
}

.Our {
  color: var(--white);
  font-family: var(--ff-p);
  font-size: var(--fs-50);
  font-weight: var(--fw-600);
}
.Pruduct {
  color: var(--white);
  font-family: var(--ff-p);
  font-size: var(--fs-18);
  font-weight: var(--fw-400);
}

.Prime {
  color: var(--white);
  font-family: var(--ff-p);
  font-size: var(--fs-30);
  font-weight: var(--fw-600);
}

.bs-card {
  background: #031227 !important;
}

.container-accordion {
  max-width: 830px !important;
}

.fd-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.pt-32 {
  padding-top: 32px;
}
@media (max-width:992px) {
  .sm-992{
      font-size: 35px;
  }
  .para-max{
      max-width: 489px;
  }
  .align-center2{
      align-items: center;
      justify-content: center;
      display: flex;
  }
}
@media(max-width:768px) {
  .vertical-line::after {
      left: 26px;
  }

  .line-container::after {
      left: 10px;
  }

  .line-container::before {
      left: -1px;
  }

  .right {
      left: 0;
  }

  .right::before {
      left: -1px;
  }
  .Blandit-sed {
  text-align: start !important;
  }
  .Q-4 {
   text-align: start !important;
  }

  .line-container {
      position: relative;
      background-color: inherit;
      width: 100%;
  }

  .ml-0 {
      margin-left: 0;
  }

  .text-center2 {
      text-align: center;
  }
}
@media (max-width:992px) {
  label[for="menu-icon"] {
      width: 30px;
      height: 22px;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      position: relative;
      z-index: 3;

  }

  label[for="menu-icon"]>span {
      border-radius: 2px;
      background-color: red;
      display: block;
      height: 5px;
      width: 100%;

  }

  ul.mobile-view {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      position: fixed;
      background-color: blue;
      gap: 10px;
      top: 0;
      left: -100%;
      transition: all 300ms linear;
      display: none;
      z-index: 1;

  }

  input[type="checkbox"]:checked+ul {
      background-color: blue;
      display: flex;
      left: 0;
      z-index: 1;

  }
}